
.nav-enlace{
    display: inline-block;
    background: #403f49;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-family:'Karla', sans-serif;
}
.nav-enlace:hover{
    background: #ff5757;
}
nav{
    background: #403f49;
    padding: 4px;
    position: fixed;
}
#fondo{
    background: #252525;
}
#cuerpo{
    padding-top: 50px;
    width: 70%;
    display: inline-block;
    float: left;
}
#testimonio{
    background: #403f49;
    width: 25%;
    display: inline-block;
    float: right;
    position: relative;
    bottom: -50px;
    margin-right: 25px;

}
#final{
    background: #252525;
    width: 100%;
    display: inline-block;
}
.subtitulo{
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;    
    
}
.titulo{
    color: #fff;
    font-family: 'Karla', sans-serif;
}
#Simbolo_fem{
    background: #fff;
    width: 33.333%;
    float: left;
    display: inline-block;
    padding-bottom: 200px;
}
#Simbolo_masc{
    background: #fff;
    width: 33.332%;
    float: right;
    display: inline-block;
    padding-bottom: 200px;
}
#Info{
    background: #403f49;
    width: 33.333%;
    display: inline-block;
    padding-bottom: 200px;
}
#Menu{
    background: #fff;
    width: 40%;
    display: inline-block;
    float: right;
    padding-bottom: 200px;
    border-bottom:250px;
}
#Carreras{
    display: none;
    margin-bottom: -150px;
}
#Graf_Mat{
    background: #403f49;
    width: 60%;
    display: inline-block;
    float: left;
    padding-bottom: 200px;
}
.Información{
    background: #403f49;
}

#principal{
    color: #ff5757;
    font-size: 55px;
    font-family: 'Karla', sans-serif; 
    text-align: center;
}
#esp{
    background: #252525;
    width: 50%;
    height: 700px;
    display: inline-block;
    padding-left: 6px;
}
.rama{
    background: #403f49;
    display: inline-block;
    border: 10px 10px 10px 10px;
    margin: 10px;
    margin-bottom: 20px;
    width: 20%;
    height: 14%;

}
.img{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.texto{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.textotestimonio{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}
#titulotestimonio{
    text-align: center;
    font-size: 35px;
}
#chile{
    width: 30%;
    display: inline-block;
    padding-left: 120px;
    padding-top: 40px;
}
#contexto{
    flex: 2;
}    
#imgchile{
    height: 450px;
    flex: 1;
}
#esp2{
    background: #252525;
    width: 49%;
    height: 700px;
    display: inline-block;
}
#bloque{
    background: #403f49;
    width: 100%;
    height: 90%;
    display: inline-block;
}
a{
    text-decoration: none;
    
}
#todo{
    display: flex;
}