.nav_enlace {
  display: inline-block;
  background: #403f49;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  opacity: 100%;
}


.nav_enlace:hover {
  background: #49ada4;
}
nav {
  background: #403f49;
  padding: 4px;
  width: 70%;
  margin-top: 10px;
  margin-left: 20px;
  position: fixed;
  border: 3px solid #252525;
  z-index: 10;
}
#fondo {
  background: #252525;
}

.titulo_principal {
  color: #fff;
  font-family: "Karla", sans-serif;
}
;
#porcentaje_brecha{
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: medium;
}




#cont-quees {
  display: flex;
}
#que_es {
  margin-left: 5px;
  margin-right: 50px;
  flex: 7;
}
.texto {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.subtitulo {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 20px;
}
#brecha_genero {
  font-size: 45px;
  color: #fff;
  padding: 90px 0px 0px 0px;
}
#titulo_nivel_educacional {
  padding: 90px 0px 0px 0px;
}
#titulo_educacion_superior {
  padding: 90px 0px 0px 0px;
}
#rama_de_actividad {
  padding: 90px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
}
.cont_menu {
  width: 400px;
  margin: 50px auto;
  background: #403f49;
  text-align: center;
}

.cont_menu .cont_enlace {
  box-shadow: 0px 0px 2px 1px #252525;
  margin-top: 20px;
  
}

.cont_menu .cont_enlace .seleciona_carrera {
  display: flex;
  justify-content: center;
  background-color: #49ADA4;
  color: #fff;
  padding: 3px 15px;
  cursor: pointer;

  user-select: none;
}

.cont_menu .cont_enlace .carreras a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #403f49;
}

.cont_menu .cont_enlace .carreras a:hover {
  background-color: #7a7980;
}

.selected {
  background-color: #61BBB5 !important;
}

#matriculas_titulacion {
  margin-left: 20px;
}
.cont_menu {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  text-align: center;
}

#selecionar_carrera {
  text-align: center;
}
#fotochilito {
  width: 500px;
  flex: 3;
  height: 500px;
}

#graficosed {
  display: flex;
}
#selector1 {
  flex: 1;
}
#matriculas {
  text-align: center;
  flex: 1;
}
#titulacion {
  text-align: center;
  flex: 1;
}

#parte1 {
  margin-left: 20px;
}
#parte2 {
  margin-left: 20px;
}
#parte3 {
  margin-left: 20px;
}
#parte4 {
  margin-left: 20px;
}
#parte5 {
  margin-left: 20px;
}

.cont_menu_educacion {
  width: 400px;
  margin: 50px auto;
  background: #252525;
  text-align: center;
}

.cont_menu_educacion .cont_enlace_educacion {
  box-shadow: 0px 0px 2px 1px #252525;
}

.cont_menu_educacion .cont_enlace_educacion .seleciona_nivel a {
  display: flex;
  justify-content: space-between;
  background-color: #49ada4;
  color: #fff;
  padding: 3px 15px;
  cursor: pointer;

  user-select: none;
}

.cont_menu_educacion .cont_enlace_educacion .nivel a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #403f49;
}
.cont_menu_educacion .cont_enlace_educacion .nivel a:hover {
  background-color: #7a7980;
}

.cont_menu_educacion {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  text-align: center;
}

.seleciona_nivel {
  background: #49ada4;
  padding: 3px 15px;
}

ul.slider {
  position: relative;
  width: 480px;
  height: 480px;
}
ul.slider li {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
}

#ramaactividad {
  height: 650;
  width: 650;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
#niv-ed {
  display: flex;
}
#selector-niv-ed {
  flex: 1;
  margin-left: 80;
  margin-top: 80;
}
#graficos_educacion {
  flex: 2;
  justify-content: center;
  margin-left: 150;
  margin-top: -150px;
}

ul,
li {
  list-style: none;
}
#imagen_testimonio1 {
  height: 100px;
  width: 500px;
}

.audios {
  margin-left: 20px;
}

#contexto_nacional {
  margin-top: 50px;
}

#recorrer_la_injusticia {
  margin-top: 50px;
}
#titulo_principal_pagina {
  margin-bottom: 20px;
}

#testimonio1 {
  margin-top: 80px;
}
.cont_menu{
  background-color: #252525;
}
.ddimgtooltip{
  display:none;
  position:absolute;
  border:1px #252525;
  background:white;
  color: black;
  z-index:2000;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
#info_fem{
  display:none;
}
#info_masc{
  display:none;
}
#brecha{
  display:none;
}
#tit_info{
  display:none;
}
#tex_fem{
  visibility: hidden;
  position: relative; left: 240px; top: 290px;
  min-width: 60px;
  max-height: 60px;
  z-index: 2;

}
#tex_masc{
  /* */
  visibility: hidden;
  position: relative;left: 360px; top: 290px;
  min-width: 60px;
  max-height: 60px;
  z-index: 2;
/*   */
}
#ramita{
  width: 650px;
  height: 650px;
  position: relative; right: 10%; 
}

.circle-container {
  margin: auto;
  text-align: center;
}

#text_brecha{
  display:none;
}

footer{
  
  background: #403f49 ;
  height: auto;
  width: auto;
  color: #fff;
  font-family: "Karla", sans-serif;
  
}

.container_footer{
  margin: 0;
  padding: 15px 0;
  box-sizing: border-box;
  max-width: 1170px;
}
ul{
  list-style: none;
}

.filas{
  display: flex;
  flex-wrap: wrap;
}

.columna{
  width: 30%;
  padding: 0;
}

.columna h4{
  font-size: 18px;
  color: #fff;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;

}
.columna h4::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #49ada4;
  height: 4px;
  box-sizing: border-box;
  width: 50px;
}
.columna ul li:not(:last-child){
  margin-bottom:10px;
}
.columna ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: 0.3s ease;
}
.columna ul li a:hover{
  color: #fff;
  padding-left: 8px;
}

.columna .redes_sociales a{
  display: inline-block;

  margin: 4px 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color:#fff
}
.container_footer{
  margin-left: 40px;
}